<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
  <nav style="background-color: #6D4534; color: white; padding: 1rem; text-align: start;">
    <a th:href="@{/}" style="color: white; margin-right: 1rem; font-size: 1.1rem; font-weight: bold; text-decoration: none;">Strona główna</a>
    <a th:href="@{/dogs}" style="color: white; margin-right: 1rem; font-size: 1.1rem; font-weight: bold; text-decoration: none;">Szczegółowa lista</a>
    <a th:href="@{/add}" style="color: white; margin-right: 1rem; font-size: 1.1rem; font-weight: bold; text-decoration: none;">Dodaj psa</a>
    <a th:href="@{/adopted}" style="color: white; font-size: 1.1rem; font-weight: bold; text-decoration: none;">Adoptowane psy</a>
  </nav>
</div>
</body>
</html>
