<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
  <nav style="background-color: #45a049; color: white; padding: 1rem; text-align:start;">
    <a th:href="@{/}" style="color: white; margin-right: 1rem;">Strona główna</a>
    <a th:href="@{/dogs}" style="color: white; margin-right: 1rem;">Szczegółowa lista</a>
    <a th:href="@{/add}" style="color: white; margin-right: 1rem;">Dodaj psa</a>
    <a th:href="@{/adopted}" style="color: white;">Adoptowane psy</a>
  </nav>
</div>
</body>
</html>
