<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Lista psów</title>
    <style>
        button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            background-color: #6D4534;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        button:hover {
            background-color: #955b46;
        }
        .chip {
            background-color: #F3C07B;
            border-radius: 6px;
            padding: 0.4rem 0.8rem;
            display: flex;
            align-items: center;
            font-size: 1rem;
        }

        .chip button {
            background: none;
            border: none;
            margin-left: 0.5rem;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            color: #444;
        }

    </style>

</head>

<body>
<main layout:fragment="content">

    <div style="display: flex; justify-content: center;">
        <h1 style="background-color: #b5775e; color: white; padding: 0.75rem; border-radius: 16px;
               display: flex; align-items: center; gap: 0.5rem;">
        <img src="/css/images/dog-icon.png" alt="Pies" style="height: 32px;">
        Lista psów dostępnych do adopcji</h1>
    </div>

    <div class="filter-bar">
        <form method="get" th:action="@{/}" style="display: flex; gap: 1rem;">
            <input type="text" name="name" placeholder="Szukaj po imieniu" th:value="${searchName}">
            <input type="hidden" name="breed" th:value="${selectedBreed}" />
            <input type="hidden" name="size" th:value="${selectedSize}" />
            <input type="hidden" name="furType" th:value="${selectedFurType}" />
            <button type="submit">🔎︎ Szukaj</button>
        </form>
    </div>

    <div class="chip-container" th:if="${breedName != null or sizeName != null or furTypeName != null}">
        <form th:if="${breedName}" method="get" th:action="@{/}" style=" align-items: center;">
            <input type="hidden" name="name" th:value="${searchName}"/>
            <input type="hidden" name="size" th:value="${selectedSize}"/>
            <input type="hidden" name="furType" th:value="${selectedFurType}"/>
            <div class="chip">
                Rasa: <span th:text="${breedName}"/>
                <button type="submit">✕</button>
            </div>
        </form>

        <form th:if="${sizeName}" method="get" th:action="@{/}">
            <input type="hidden" name="name" th:value="${searchName}"/>
            <input type="hidden" name="breed" th:value="${selectedBreed}"/>
            <input type="hidden" name="furType" th:value="${selectedFurType}"/>
            <div class="chip">
                Rozmiar: <span th:text="${sizeName}"/>
                <button type="submit">✕</button>
            </div>
        </form>

        <form th:if="${furTypeName}" method="get" th:action="@{/}">
            <input type="hidden" name="name" th:value="${searchName}"/>
            <input type="hidden" name="breed" th:value="${selectedBreed}"/>
            <input type="hidden" name="size" th:value="${selectedSize}"/>
            <div class="chip">
                Sierść: <span th:text="${furTypeName}"/>
                <button type="submit">✕</button>
            </div>
        </form>

        <form method="get" th:action="@{/}">
            <button type="submit" class="reset-button">Resetuj wszystkie</button>
        </form>
    </div>

    <dialog id="filterDialog">
        <form method="get" th:action="@{/}">
            <input type="hidden" name="name" th:value="${searchName}" />
            <label>
                Rasa:
                <select name="breed">
                    <option value="">Wszystkie</option>
                    <option th:each="b : ${breeds}"
                            th:value="${b.id}"
                            th:text="${b.name}"
                            th:selected="${selectedBreed != null and selectedBreed == b.id}"></option>
                </select>
            </label>
            <br><br>
            <label>
                Rozmiar:
                <select name="size">
                    <option value="">Wszystkie</option>
                    <option th:each="s : ${sizes}"
                            th:value="${s.id}"
                            th:text="${s.name}"
                            th:selected="${selectedSize != null and selectedSize == s.id}"></option>
                </select>
            </label>
            <br><br>
            <label>
                Typ sierści:
                <select name="furType">
                    <option value="">Wszystkie</option>
                    <option th:each="f : ${furTypes}"
                            th:value="${f.id}"
                            th:text="${f.name}"
                            th:selected="${selectedFurType != null and selectedFurType == f.id}"></option>
                </select>
            </label>

            <div class="dialog-actions">
                <button >Filtruj</button>
                <button type="button" onclick="document.getElementById('filterDialog').close()">Anuluj</button>
            </div>
        </form>
    </dialog>

    <p th:if="${#lists.isEmpty(dogViews)}" style="text-align: center; color: #888; margin-top: 2rem;">
        Brak wyników pasujących do wybranych filtrów.
    </p>

    <table th:if="${not #lists.isEmpty(dogViews)}">
        <thead>
        <tr>
            <th>Lp</th>
            <th>Imię</th>
            <th>Rasa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="view, stat : ${dogViews}" th:onclick="|window.location.href='/dogs/${view.dog.id}'|">
            <td th:text="${stat.index + 1}"></td> <!-- numeracja psów w tabeli od 1 -->
            <td th:text="${view.dog.name}"></td>
            <td th:text="${view.breed.name}"></td>
        </tr>
        </tbody>
    </table>

</main>
</body>
</html>
